<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ app_name }} - Déploiement automatisé</title>
</head>
<body style="font-family: Arial; text-align: center; margin-top: 50px;">
    <h1>Bienvenue sur {{ app_name }}</h1>
    <p>Ce site a été déployé automatiquement avec <b>Terraform</b> et <b>Ansible</b>.</p>
    <p>Serveur web : {{ web_server }}</p>
    <p>Base de données : {{ db_type }}</p>
    <hr>
    <small>©{{ project_team }}</small>
</body>
</html>
